*{
    box-sizing: border-box;
}

.divContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.smallBox{
    border:1px solid black;
    height: 40px;
    width: 40px;
}

.divContainer>div:nth-child(17n +1){
    width:100%;
    height: 0;
    border:0;
}

.permahover {
    background: red;
}